 body {
            font-family: Arial, sans-serif;
            background-color: whitesmoke;
            padding: 20px;
        }

        .calculator {
            background-color:rgb(54, 43, 153);
            padding: 25px;
            max-width: 350px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .calculator h2 {
            text-align: center;
        }

        input, select, button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }
        .result {
            font-weight: bold;
            margin-top: 15px;
            text-align: center;
            color: rgb(146, 145, 150);
        }