 body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #72c8dd;
    }

    header {
      background-color: #2c3e50;
      color: white;
      padding: 20px;
      text-align: center;
      background:url();
    }

    nav {
      background: #34495e;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      text-decoration: underline;
    }
     section {
      padding: 40px;
      text-align: center;
    }

    .services {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      color: rgb(94, 99, 109);
    }

    .card {
      background: rgb(22, 56, 148);
      padding: 20px;
      width: 250px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    footer {
      background: #2c3e50;
      color: white;
      text-align: center;
      padding: 20px;
    }

    input, textarea {
      width: 300px;
      padding: 10px;
      margin: 10px 0;
      background-color: #272829;
    }

    button {
      padding: 10px 20px;
      background: #3c3b3d;
      color: rgb(17, 114, 93);
      border: none;
      cursor: pointer;
    }

    button:hover {
      background: #178a6d;
    }
     img {
      width: 15%;
      height: 10%;
      border-radius: 8px;
      position:relative;
      left: 10px;
    }

    .circular-image
    {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    .card img{
      width: 45%;
      height: 45%;
      border-radius: 8px;
      object-fit: cover;
    }
    .location {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      color: rgb(0, 0, 0);
    }
     .where {
      background: rgb(170, 61, 106);
      padding: 20px;
      width: 250px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    i {
      color: rgb(105, 9, 9);
      font-size: 20px;
      margin-right: 5px;

    }
    .social-media i {
      text-align: center;
      margin-top: 20px;
      display: flexbox;
      justify-content: center;
      position: relative;
      left: 10px;
      font-size: 30px;
      font-size: 24px;
      color: #fff;
    }
    .authentication {
      background: #5cb85c;
      color: white;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }
    .circular-image {
      position: absolute;
            top: 20px;
            left: 20px;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 5px solid;
            padding: 3px;
            background-image: url('eagle2.jpg');
            background-size: cover;
            background-position: center;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            z-index: 1000;
    }
    .header-video {
      width: 80%;
      max-width: 600px;
      border-radius: 0px;
    }